<h1> <%= @list.name %> </h1>


<% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.where(movie: movie, list_id: @list).first %>
    <div class="card-product">
      <img src=" <%= movie.poster_url %>" />
      <div class="card-product-infos">
      <h3><%= movie.title %></h3>
      <h2> <%= bookmark.comment %> </h2>
      <p> <%= movie.overview %></p>
      </div>
        <div class="delete-button">
          <%= link_to "ðŸ—‘ï¸", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
    </div>
<% end %>


<%= link_to "Create a New Bookmark", new_list_bookmark_path(@list) %>
<%= link_to "Back to Lists", lists_path %>
