<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to lists_path, class: "navbar-brand" do %>
    <div id="nav-icon">
      <i class="fa-solid fa-2x fa-video"></i>
    </div>
    <% end %>

    <div>
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Home", lists_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Create a New List", new_list_path, class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>
    <%= yield %>
  </body>
</html>
